<div class="packetItem" data-tag="<%= sequenceNumber %>">
    <p><%= num %></p>
    <div class="srcData">
        <p class="ip">
            <%= srcIP %>
        </p>
        <p class="mac">
            <%= src %>
        </p>
    </div>
    <div class="separator">
        <span class="material-symbols-outlined">
            arrow_right_alt
        </span>
    </div>
    <div class="dstData">
        <p class="mac">
            <%= dest %>
        </p>
        <p class="ip">
            <%= dstIP %>
        </p>
    </div>
</div>