<div class="streamPacket" data-id="<%= sequenceNumber %>">
    <p id="method" class="<%= emptyMethod %>">
        <%= method %>
    </p>
    <span class="material-symbols-outlined">
        <%= arrow %>
    </span>
    <p class="len">
        <%= totalLength %>B
    </p>
    <span id="open" class="material-symbols-outlined">
        open_in_new
    </span>
</div>